* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #40476D;
}
.container {

}
header {
  padding: 10px 0px;
  border-bottom: 1px solid #232D63;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
header h1 {
  margin: 0;
  color: #fff;
  margin-left: 30px;
}
.box {
  position: relative;
  width: 400px;
  min-height: 500px;
  left: 100px;
  top: 40px;
  /* border: 1px solid lightgray; */
  border-radius: 3px;
  padding: 10px;
  background-color: #3D4468;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.box_head {
  display: flex;
  /* padding: 10px 0px; */
}
.box_head input[type=text] {
  padding: 10px 10px;
  border:  1px solid #B0C0BC;
  border-radius: 3px;
  width: 100%;
}
.box_head button {
  padding: 10px 15px;
  background-color: #B0C0BC;
  border:  1px solid #B0C0BC;
}
.box_body {
  padding-top: 30px;
}
.item_outer {
  cursor: default;
}
.item {
  position: relative;
  /* background-color: #DBDBDB; */
  background-color: rgba(250, 250, 250, 0.7);
  padding: 10px 0px;
  border-radius: 3px;
  color: #3D4468;
  overflow: hidden;
  margin-bottom: 15px;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.item_outer:hover .item{
  animation-name: itemHover;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.item span {
  margin-left: 10px;
  vertical-align: top;
}


.circle_dot, .close_btn {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  background-color: #3D4468;
  vertical-align: top;
  margin-left: 10px;
}
.close_btn {
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
}
.close_btn:hover {
  background: rgba(150, 0, 0, 0.3);
}
.close_btn span {
  margin: 0;
  position: relative;
  left: 6px;
}

@keyframes itemHover {
  0% {transform: translatex(0px) translateY(0px) scale(1);}
  100% {transform: translatex(5px) translateY(-5px) scale(1.01);}
}
