* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #40476D;
}
.container {

}
header {
  padding: 10px 0px;
  border-bottom: 1px solid #232D63;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
header h1 {
  margin: 0;
  color: #fff;
  margin-left: 30px;
}
.box {
  position: relative;
  width: 400px;
  height: 500px;
  left: 100px;
  top: 40px;
  /* border: 1px solid lightgray; */
  border-radius: 3px;
  padding: 10px;
  background-color: #3D4468;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.box_head {
  display: flex;
  /* padding: 10px 0px; */
}
.box_head input[type=text] {
  padding: 10px 10px;
  border:  1px solid #B0C0BC;
  border-radius: 3px;
  width: 100%;
}
.box_head button {
  padding: 10px 15px;
  background-color: #B0C0BC;
  border:  1px solid #B0C0BC;
}
